<launch>


    <arg name="prefix" default=""/>

    
    <param name="robot_description" 
        textfile="$(find centauro_urdf)/urdf/centauro.urdf"/>
    
    <param name="robot_description_semantic"
        textfile="$(find centauro_srdf)/srdf/centauro.srdf"/>
    
    <param name="cartesian/problem_description" 
        textfile="$(find vsam)/configs/centauro_stack.yaml"/>
    
    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <arg name="rate" value="1000.0"/>
        <arg name="prefix" value="$(arg prefix)"/>
        <arg name="markers" value="false"/>
    </include>

    <node pkg="opensot_visual_servoing" type="image_processing_node" name="image_processing_node">
    	<param name="depth" value="1.5"/>
	<remap from="camera_info" to="/D435i/color/camera_info"/>
        <remap from="image_raw" to="/D435i/color/image_raw"/>
        <remap from="image_processing/visual_features" to="cartesian/visual_servoing_D435i_camera_color_optical_frame/features"/>
        <remap from="desired_visual_features" to="cartesian/visual_servoing_D435i_camera_color_optical_frame/reference_features"/>
    </node> 
        
</launch>
