<?xml version="1.0"?>

<model>
  <name>visual_pattern</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Antonio Paolillo</name>
    <email>antonio.paolillo@supsi.ch</email>
  </author>

  <author>
    <name>Antonio Paolillo</name>
  </author>

  <description>
    4 points visual pattern
  </description>
</model>
